In [74]:
import pandas as pd
import numpy as np

data_file = "purchase_data.json"
purchase_data = pd.read_json(data_file)
purchase_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [75]:
number_players = purchase_data["SN"].nunique()
number_players

573

In [76]:
#Purchasing Analysis (Total)

#Number of Unique Items
unique_items = purchase_data["Item ID"].nunique()
#Unique_items

#Average Purchase Price
average_price = purchase_data["Price"].mean()
#purchase_data["Average_price"] = purchase_data["Average_price"].map("${:.2f}".format)
#Average_price

#Total Number of Purchases
purchase_total = purchase_data["Price"].count()
#purchase_total

#Total Revenue
revenue_total = purchase_data["Price"].sum()
#revenue_total

In [77]:
#Build table
#Purchasing Analysis Dataframe
pa=pd.DataFrame({"Unique Items":[unique_items],
                 "Average Price": [average_price],
                 "Total Purchases": [purchase_total],
                 "Total Revenue":[revenue_total]})
pa

   Average Price  Total Purchases  Total Revenue  Unique Items
0       2.931192              780        2286.33           183

In [83]:
#Get gender values
total = purchase_data["Gender"].count()
gcount = purchase_data["Gender"].value_counts()
gcount

gpercent = gcount/total*100
gpercent

#Percentage_Gender_Demographics = Gender_Demographics / total*100
#Gender_Demographics = pd.DataFrame({"Total Count": Gender_Demographics,"Percentage of Players":Percentage_Gender_Demographics})
#Gender_Demographics = Gender_Demographics.round(2)
#Gender_Demographics = Gender_Demographics..map("%{:,.2f}".format)
#Gender_Demographics

Male                     81.153846
Female                   17.435897
Other / Non-Disclosed     1.410256
Name: Gender, dtype: float64

In [88]:
#Gender Analysis
GA=pd.DataFrame({"Count":gcount,
                 "Percent":gpercent})
            
GA

                       Count    Percent
Male                     633  81.153846
Female                   136  17.435897
Other / Non-Disclosed     11   1.410256